.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/images/jay-mantri-TFyi0QOx08c-unsplash.jpg"); /* 배경 이미지 설정 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100vw;
}

.not-found-content {
  background: rgba(255, 255, 255, 0.1); /* 배경을 반투명으로 설정 */
  padding: 40px;
  border-radius: 8px;
  max-width: 600px;
  text-align: center;
}

.not-found-content h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

.not-found-content p {
  font-size: 24px;
  margin-bottom: 40px;
}

.not-found-content .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.not-found-content a {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.not-found-content a:hover {
  background-color: #000;
  color: #fff;
}
